.menu {
    background: #fff;
    border-radius: 5px;
    padding: 25px 25px;
    color: #000;
    font-weight: 500;
}
.menu p {
    text-decoration:none;
}

.activeMenu {
    border: 2px solid #5d4ef5;
}