.previewImg {
    height: 460px;
    width: 440px;
    object-fit: cover;
}

.generateInput {
    border: 1px solid #de99e9;
    border-radius: .25rem;
    outline: none;
    width: 100%;
    padding: 0 20px;
    letter-spacing: 1px;
}